/*index*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: futurama, sans-serif;
}

/* NAVBAR */
.navbar {
  width: 100%;
  height: 80px;
  background-color: #b8971d;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;
}
/*informatie*/
/*boeking*/
/*login*/
/*admin*/