/*body (global)*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "futurama", sans-serif;
  /*menu */
}


footer {
  width: 100%;
  height: 80px;
  background-color: #b8971d;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}
footer p {
  font-size: 15px;
  font-weight: 500;
}

/* NAVBAR (gloabl) */
.navbar {
  width: 100%;
  height: 80px;
  background-color: #b8971d;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;
}

/* NAV LINKS */
.nav-menu {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-menu a {
  text-decoration: none;
  color: white;

  font-size: 18px;
  font-weight: 500;

  position: relative;
}

/* ACTIVE LINK UNDERLINE */
.nav-menu a.active::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -8px;

  width: 100%;
  height: 2px;

  background-color: white;
}

/* LOGIN BUTTON */
.login-btn {
  background-color: #b8971d;
  color: #e9ea89;
  border: none;
  outline: none;
  padding: 14px 28px;
  border-radius: 14px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn:hover {
  background-color: #e9ea89;
  transform: translateY(-2px);
}

@media (max-width: 900px) {

  .navbar {
    padding: 0 20px;
  }

  .nav-menu {
    gap: 20px;
  }

  .nav-menu a {
    font-size: 16px;
  }

  .login-btn {
    padding: 12px 20px;
    font-size: 16px;
  }
}

/*index (only the page) */
.background {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  background-color: black;
  height: 450px;
  color: white;
  column-count: 3;
}
.background h1 {
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 20px;
}
.background p {
  font-size: 25px;
  font-weight: 400;
  width: 80%;
  text-align: center;
}
.booking-btn {
  background-color: #b8971d;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 14px 28px;
  border-radius: 14px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
}

.booking-btn:hover {
  background-color: #e9ea89;
  color: white;
  transform: translateY(-2px);
}



/*informatie (only the page)*/






/*boeking (only the page)*/
/*login (only the page)*/
/*admin (only the page)*/